<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" (click)="show = false">Navbar</a>
    <button class="navbar-toggler" (click)="show = !show" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="show" id="navbar" (click)="show = false">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="user">
          <li class="nav-item">
            <a class="nav-link" routerLink="/heroes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Heroes</a>
          </li>
          <li class="nav-item" *ngIf="security.hasRole('ROLE_ADMIN')">
            <a class="nav-link" routerLink="/heroes/new" routerLinkActive="active">Add a Hero !</a>
          </li>
          <li class="nav-item" *ngIf="security.hasRole('ROLE_SUPER_ADMIN')">
            <a class="nav-link" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage users</a>
          </li>
          <li class="nav-item" *ngIf="security.hasRole('ROLE_SUPER_ADMIN')">
            <a class="nav-link" routerLink="/users/new" routerLinkActive="active">Add a User !</a>
          </li>
        </ng-container>
      </ul>

      <ng-container *ngIf="!user">
        <a class="btn btn-success my-2 my-sm-0" routerLink="/login">
          <i class="fa fa-lock"></i> &nbsp;Login !
        </a>
        <a class="btn btn-primary my-2 ml-2 my-sm-0" routerLink="/register">
          <i class="fa fa-user"></i> &nbsp;Register !
        </a>
      </ng-container>

      <ng-container *ngIf="user">
        <a routerLink="/cart" class="btn btn-success my-2 mr-2">
          <i class="fa fa-shopping-cart"></i>&nbsp;
          <span *ngIf="cart.items.length">
            {{ cart.quantity }} items
          </span>
          <span *ngIf="!cart.items.length"a>Empty cart</span>
        </a>
        Logged as {{ user.username }}
        <button class="btn btn-danger my-2 ml-2 my-sm-0" (click)="onLogout()">Logout !</button>
      </ng-container>
    </div>
  </div>
</nav>

<section class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>