<ng-container *ngIf="hero$ | async as hero">
  <div class="row">
    <div class="col-3">
      <img src="{{hero.image}}" class="img-fluid">

      <span class="likes">
        {{hero.likes}}
        <i class="fa fa-heart"></i>
      </span>
    </div>
    <div class="col">
      <h2>{{hero.name}}</h2>
      <article [innerHTML]="hero.description"></article>

      <ng-container *ngIf="security.hasRole('ROLE_ADMIN')">
        <a routerLink="/heroes/{{hero.id}}/edit" class="btn btn-primary">
          <i class="fa fa-pencil"></i> &nbsp;Edit
        </a>
        <button class="btn btn-danger" (click)="onRemove(hero)">
          <i class="fa fa-times"></i> &nbsp;Remove
        </button>

      </ng-container>
    </div>
  </div>
</ng-container>